.in{
    background-color: rgba(145, 236, 245, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.container
{
    
    width:80vw;
    height: 80vh;
    margin-top:5%;
    margin-bottom:5%;
    margin-left:10%;
    margin-right:10%;
    
    background-color: white;
    border:1px;
    border-radius:5px;
    
}

.fi{
    margin-top:2%;
    margin-bottom:3%;
    border: 2px;
    border-bottom:1px solid gray;
}
#btn{
    background-color: rgba(145, 236, 245, 0.9);
    border: 1px solid white;
    border-radius: 10px;
    padding-top :2%;
    padding-bottom :2%;
    width: 20%;
}
#hd{
    font-size: 35px;
    margin-top: 12%;
    font-weight: bold;
}
#im{
    height: 100%;
    width: 50%;
    margin-top: 22%;
    margin-left: 20%;
}
